services:
    nginx:
        build: .
        image: ghcr.io/richzhao/nginx-keycloak/nginx-sso:20240519
        # Following command auto-replaces env variables in NGINX configuration
        command: /bin/bash -c "envsubst < /etc/nginx/conf.d/nginx.conf.template > /etc/nginx/conf.d/default.conf && /usr/local/openresty/nginx/sbin/nginx -g 'daemon off;'" 
        ports:
            - 3002:3002
        volumes: 
            - ./logs:/var/log/nginx
            - ./nginx-roles.conf.template:/etc/nginx/conf.d/nginx.conf.template
        environment:
            KEYCLOAK_INTERNAL_ENDPOINT: ${KEYCLOAK_INTERNAL_ENDPOINT}
            KEYCLOAK_EXTERNAL_ENDPOINT: ${KEYCLOAK_EXTERNAL_ENDPOINT}
            KEYCLOAK_LOGOUT_REDIRECT_URI: ${KEYCLOAK_LOGOUT_REDIRECT_URI}
            KEYCLOAK_REALM: ${KEYCLOAK_REALM}
            KEYCLOAK_CLIENT: ${KEYCLOAK_CLIENT}
            KEYCLOAK_SECRET: ${KEYCLOAK_SECRET}

    postgres:
        image: postgres:16.3
        volumes:
            - ./postgres_data:/var/lib/postgresql/data
        environment: 
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            
    keycloak:
        image: quay.io/keycloak/keycloak:24.0.4
        environment:
            DB_VENDOR: POSTGRES
            DB_ADDR: postgres
            DB_DATABASE: ${POSTGRES_DB}
            DB_USER: ${POSTGRES_USER}
            DB_SCHEMA: public
            DB_PASSWORD: ${POSTGRES_PASSWORD}
            KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
            KEYCLOAK_FRONTEND_URL: ${KEYCLOAK_EXTERNAL_ENDPOINT}/auth
        command: start-dev
        ports:
            - 8080:8080
        depends_on:
            - postgres
    
    stable-diffusion:
        image: nginx:1.25.5
